<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <springProfile name="prod | dev">
        <appender name="teamLogger" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>team-logs.nais-system:5170</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
                <includeContext>false</includeContext>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="local">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %X{Nav-CallId} [%thread] %-5level %logger{70} - %msg%n</Pattern>
            </layout>
        </appender>
        <appender name="teamLogger" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %X{Nav-CallId} [%thread] %-5level %logger{70} - %msg%n</Pattern>
            </layout>
        </appender>
    </springProfile>

    <springProfile name="prod | dev">
        <turboFilter
            class="ch.qos.logback.classic.turbo.MarkerFilter">
            <Name>CONFIDENTIAL_FILTER</Name>
            <Marker>CONFIDENTIAL</Marker>
            <OnMatch>DENY</OnMatch>
        </turboFilter>
    </springProfile>

    <springProfile name="dev | local">
        <logger name="no.nav.foreldrepenger" level="trace" />
        <logger name="no.nav.security" level="info" />
        <logger name="org.springframework.web" level="info" />
        <logger name="org.springframework.web.method.HandlerMethod" level="info" />
        <logger name="org.springframework.web.server.adapter.HttpWebHandlerAdapter" level="info" />
        <logger name="org.apache.cxf.services" level="debug" />
    </springProfile>

    <springProfile name="prod">
        <logger name="org.apache" level="ERROR"/>
        <logger name="org.apache.http" level="INFO"/>
    </springProfile>

    <logger name="secureLogger" level="info" additivity="false">
        <appender-ref ref="teamLogger" />
    </logger>

    <root level="info">
        <appender-ref ref="stdout" />
    </root>
</configuration>
